extends layout 

block content 

 header
  h1
    a(href='Register.html') U
    | Farm
 section
  ul.nav.nav-pills
    li.nav-item
      a.nav-link.active(aria-current='page' href='Home.html') Home Page
    li.nav-item
      a.nav-link.active(href='/Register.html') Register
    li.nav-item
      a.nav-link.active(href='/Contacts.html') Contacts
    li.nav-item
      a.nav-link.active(href='/About_us.html') About us
