<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/register.css"/>
</head>
<section>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/Home.html">Home Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/Register.html">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/Register.html">Contacts</a>
    </li>
    <li class="nav-item"> 
      <a class="nav-link active" href="/Register.html">About us</a>
    </li>
  </ul>

</section>
<body>
    <div class="container mt-3">
        <form action="/register" method = "post">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="first name">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder=" last name">

          <label for="lname">Type of Farming</label>
          <input type="text" id="lfarming" name="type of Farming" placeholder="">

          <label for="lname">Market Place</label>
          <input type="text" id="lmarket place" name="Market Place" placeholder="">

          <label for="lname">Email</label>
          <input type="text" id="lgmail" name="gmail" placeholder="">
      
          <label for="county">Subcounty</label>
          <select id="county" name="Subcounty">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
        
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>